.box-area{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    li{
        position: absolute;
        // display: block;
        list-style: none;
        background: rgba(255,255,255, 0.2);
        animation: animate linear infinite; //linear：same speed from start to end, infinite: show times is infinite
        top: -150px;
        &:nth-child(1){
            left: 86%;
            width: 80px;
            height: 80px;
            animation-delay: 2s;
            animation-duration: 8s;
        }
        &:nth-child(2){
            left: 12%;
            width: 30px;
            height: 30px;
            animation-delay: 1.5s;
            animation-duration: 10s;
        }
        &:nth-child(3){
            left: 70%;
            width: 100px;
            height: 100px;
            animation-delay: 5.5s;
            animation-duration: 10s;
        }
        &:nth-child(4){
            left: 42%;
            width: 150px;
            height: 150px;
            animation-delay: 2s;
            animation-duration: 15s;
        }
        &:nth-child(5){
            left: 65%;
            width: 40px;
            height: 40px;
            animation-delay: 1.5s;
            animation-duration: 10s;
        }
        &:nth-child(6){
            left: 15%;
            width: 110px;
            height: 110px;
            animation-duration: 15s;
        }
    }
    @keyframes animate{
        from{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        to{
            transform: translateY(1000px) rotate(360deg);
            opacity: 0;
        }
    }
}

//从上到下：top:-150px; translateY(0)-translateY(1000px)
//从下到上：bottom: -150px: translateY(0)-translateY(-1000px)
//从左到右：left: -150px; translateX(0)-translateX(1000px)
//从右到左：right: -150; translateX(0)-translateX(-1000px)
