 .arrows{
    position: absolute;
    font-size: 30px;
    margin-left:21rem;
    margin-top:250px;

} 

.arrows > button{
    border:none;
    background-color:#f8f9fa;
    outline:none;   /* delete the blue outline*/
}


.arrows > button:active{
    position: absolute;
    font-size: 30px;
    margin-left:21rem;
    margin-top:250px;
    opacity: 0.5;
} 


  