.carddownleft{
  background-color:#f8f9fa ;
  position: absolute;
  margin-top: 350px;
  width: 450px;
  height:350px;
  /* background-color:#f8f9fa ; */
  border-bottom-left-radius: 15px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
  
.carddownleft > h1{
  padding-left: 20px;
  padding-bottom: 40px;
  color:#85c3af;
  /* padding-right:50px; */
}
  
.carddownleft small{
  font-size: 20px;
  color:#a2affa;
}
  
.carddownleft > p{
  padding-left:20px;
  font-size: 20px;
  padding-top:10px;
  /* text-align: center; */
}
  
.carddownleft > h3{
  padding-left: 150px;
  padding-top:30px;
  letter-spacing:5px;
  font-size: 30px;
}

.carddownleft:after{
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  bottom: 50px;
  right: 0;
  height: 72%;
  width: 4px;
  background-color: #cdc9e9;
  border-radius: 15px;
  
}