*{
  font-family:sans-serif;
}
body{
  /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTim9-qu3nMAekbqnJUvXHD4DOwSSgqC3XYd1yCArGDj8ep8aLerw"); */
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7kXQzMyveCdxDoJGv86Ko9_66S2ckCaahDlsMzdJLLl8TD0nI");
  /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUPXq_7At2fYZNdMQYjb-S-5E2hn8z8Lbw34_YQkPWwJiXKv5Z"); */
  background-size: cover;
}




